.favoritos{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favoritos h1{
    margin-bottom: 14px;
}

.favoritos span{
    font-size: 18px;
}

.favoritos ul{
    width: 720px;
}

.favoritos ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 14px;
}

.favoritos div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.favoritos div a {
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}